In [14]:
import pandas as pd
import matplotlib as plt
Olx_data = pd.read_csv('Datasets/olx_car_data_csv.csv', encoding='latin1')

Olx_data

Olx_data.isnull().drop
Olx_data.isnull().sum

#Olx_data.describe()
# you can also check any specific data type by including
#Olx_data.describe(include="float")

Olx_data.dtypes

#you can perform feature pre-processing on olx data set.
#Find out null values and remove all irrelevant data before visualizing the data frame.
#Visualize it in one view like we do for dashboard.

Brand                object
Condition            object
Fuel                 object
KMs Driven          float64
Model                object
Price                 int64
Registered City      object
Transaction Type     object
Year                float64
dtype: object

In [11]:
# Step 2: Data Exploration and Preparation
Olx_data['Brand'] = pd.to_numeric(Olx_data['Brand'], errors='coerce')
Olx_data['Model'] = pd.to_numeric(Olx_data['Model'], errors='coerce')
Olx_data['Price'] = pd.to_numeric(Olx_data['Price'], errors='coerce')
Olx_data['Year'] = pd.to_datetime(Olx_data['Year'], format='%Y', errors='coerce')
Olx_data.head()

Olx_data.columns

# Olx_data = Olx_data.drop(['Unnamed: 2'], axis=1)
Olx_data.head()

,Brand,Condition,Fuel,KMs Driven,Model,Price,Registered City,Transaction Type,Year
0,NaN,Used,Diesel,1.0,NaN,2100000,Karachi,Cash,1997-01-01
1,NaN,Used,Petrol,100000.0,NaN,380000,Karachi,Cash,2006-01-01
2,NaN,Used,CNG,12345.0,NaN,340000,Karachi,Cash,1998-01-01
3,NaN,Used,Petrol,94000.0,NaN,535000,Karachi,Cash,2010-01-01
4,NaN,Used,Petrol,100000.0,NaN,1430000,Karachi,Cash,2013-01-01

In [15]:
# Step 3: Data Analysis and Visualization
fig, axes = plt.subplots(2, 2, figsize=(14, 12))

# Plot 1: Total Number 
total_employees_by_province = Olx_data.groupby('Province')[['Male', 'Female']].sum().sum(axis=1)
axes[0, 0].bar(total_employees_by_province.index, total_employees_by_province.values, color='blue')
axes[0, 0].set_xlabel('Province')
axes[0, 0].set_ylabel('Total Number of Employees')
axes[0, 0].set_title('Total Number of Government Employees by Province')

AttributeError: module 'matplotlib' has no attribute 'subplots'